---
import '../assets/css/styles.css';
import Header from '../components/header.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/udemy-clone-tailwind/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/udemy-clone-tailwind/favicon-16x16.png'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <title>Cursos en línea: aprende de todo y a tu propio ritmo | Udemy</title>
  </head>
  <body>
    <Header />
  </body>
</html>
