---
import '../assets/css/styles.css';
import Banner from '../components/Banner.astro';
import Categories from '../components/Categories.astro';
import Companies from '../components/Companies.astro';
import Courses from '../components/Courses.astro';
import Featured from '../components/Featured.astro';
import Footer from '../components/Footer.astro';
import Highlights from '../components/Highlights.astro';
import Menu from '../components/Menu.astro';
import Header from '../components/header.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/udemy-clone-tailwind/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/udemy-clone-tailwind/favicon-16x16.png'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <title>Cursos en línea: aprende de todo y a tu propio ritmo | Udemy</title>
  </head>
  <body>
    <Header />
    <Menu />
    <Featured />
    <Companies />
    <main>
      <Courses />
      <Banner />
      <Highlights />
      <Categories />
    </main>
    <Footer />
  </body>
</html>
