---

---

<section class='mx-auto my-16 max-w-4xl'>
  <div class='grid grid-cols-2 items-center gap-8'>
    <div>
      <img
        src='/udemy-clone-tailwind/images/logo-ub.svg'
        alt='Udemy logo'
        class='mb-6 w-48'
      />
      <h2 class='text-3xl font-bold'>
        Desarrolla las habilidades de tu equipo gracias a Udemy Business
      </h2>
      <ul class='my-6 list-disc space-y-6 pl-4 text-xl'>
        <li>
          Acceso ilimitado a más de 25.000 de los mejores cursos de Udemy en
          cualquier momento y lugar
        </li>
        <li>Colección internacional de cursos en 14 idiomas</li>
        <li>Las certificaciones más populares en tecnología y empresas</li>
      </ul>
      <div class='flex flex-wrap items-center gap-2'>
        <a
          href='#'
          class='bg-primary p-3 font-semibold text-white hover:bg-primary-light'
        >
          Consigue Udemy Business
        </a>
        <a
          href='#'
          class='border border-primary p-3 font-semibold hover:bg-gray-200'
        >
          Más información
        </a>
      </div>
    </div>
    <div>
      <img src='/udemy-clone-tailwind/images/business/business-1.jpg' alt='' />
    </div>
  </div>
</section>
