---
const categories = [
  'Diseño',
  'Desarrollo',
  'Marketing',
  'Informatica y software',
  'Desarrollo personal',
  'Negocios',
  'Fotografía',
  'Música',
];
---

<section class='container py-12'>
  <h2 class='font-text text-2xl font-bold'>Categorías principales</h2>
  <div class='mt-4 flex flex-wrap gap-8'>
    {
      categories.map((category, index: number) => (
        <a href='#'>
          <div class='mb-2 overflow-hidden'>
            <img
              src={`/udemy-clone-tailwind/images/categorias/categoria-${index}.jpg`}
              alt={`${category} category logo`}
              class='transition-transform hover:scale-110'
            />
          </div>
          <p class='font-semibold'>{category}</p>
        </a>
      ))
    }
  </div>
</section>
