<section class='container py-12'>
  <div class='flex gap-8'>
    <a href='#'>
      <div class='bg-[#f7f9fb] p-8'>
        <img
          src='/udemy-clone-tailwind/images/categorias/categoria-0.jpg'
          alt='Design category logo'
          class='mb-2 hover:scale-110'
        />
      </div>
      <p class='font-semibold'>Diseño</p>
    </a>
  </div>
</section>
