---

---

<aside class='bg-gray-50 py-16 text-center'>
  <p class='text-lg text-gray-600'>
    Más de 14.400 empresas y millones de estudiantes de todo el mundo confían en
    nosotros
  </p>
  <div class='container mt-6 flex items-center justify-center gap-20'>
    <img
      src='/udemy-clone-tailwind/images/empresas/volkswagen.svg'
      alt='Volkswagen logo'
    />
    <img
      src='/udemy-clone-tailwind/images/empresas/samsung.svg'
      alt='Samsung logo'
    />
    <img
      src='/udemy-clone-tailwind/images/empresas/cisco.svg'
      alt='Cisco logo'
    />
    <img src='/udemy-clone-tailwind/images/empresas/att.svg' alt='att logo' />
    <img
      src='/udemy-clone-tailwind/images/empresas/procter_gamble.svg'
      alt='P&G logo'
    />
    <img
      src='/udemy-clone-tailwind/images/empresas/hewlett_packard_enterprise.svg'
      alt='Hewlett Packard logo'
    />
    <img src='/udemy-clone-tailwind/images/empresas/citi.svg' alt='Citi logo' />
    <img
      src='/udemy-clone-tailwind/images/empresas/ericsson.svg'
      alt='Ericsson logo'
    />
  </div>
</aside>
