---
import Course from './Course.astro';
---

<section class='container py-24'>
  <h2 class='text-3xl font-bold'>Una amplia selección de cursos</h2>
  <p class='my-4 text-lg'>
    Elige entre más de 210.000 cursos de video en linea con nuevo contenido casa
    mes
  </p>
  <div>
    <div>
      <div class='px-2 py-4 font-semibold'>Python</div>
    </div>
    <div class='border-2 border-gray-300 p-8'>
      <h3 class='font-text text-2xl font-bold text-gray-900'>
        Amplía tus oportunidades profesionales con Python
      </h3>
      <p class='my-4 line-clamp-3 max-w-3xl'>
        Tanto si trabajas en el segmento del aprendizaje automático o de las
        finanzas como si deseas desarrollar tu carrera en ciencias de datos o
        desarrollo web, Python es una de las habilidades más importantes que
        puedes aprender. La sencilla sintaxis de Python es especialmente
        adecuada para equipos de escritorio, web y análisis de datos.
      </p>
      <a
        href='#'
        class='mb-8 inline-block border border-gray-900 px-3 py-2 text-sm font-semibold hover:bg-gray-200'
      >
        Explorar Python
      </a>
      <div class='grid grid-cols-5 gap-4'>
        <Course />
        <Course />
        <Course />
        <Course />
        <Course />
      </div>
    </div>
  </div>
</section>
