---

---

<div class='container relative mb-12 p-20 pb-32'>
  <img
    src='/udemy-clone-tailwind/images/destacado.jpg'
    alt='Featured'
    class='absolute left-0 top-0 z-0 size-full'
  />
  <div class='relative z-10 max-w-[450px] bg-white p-6 shadow-lg'>
    <h1 class='mb-4 text-3xl font-bold'>Ahorra ya. Aprende cuando quieras.</h1>
    <p>
      Disfruta de libertad para aprender como quieras (por menos). Inicia sesión
      para acceder a los descuentos especiales en cursos hasta el 23 de abril.
    </p>
  </div>
</div>
