---
import Course from './Course.astro';
---

<section class='container py-12'>
  <h2 class='font-text text-2xl font-bold'>Los estudiantes estan viendo</h2>
  <div class='mt-4 grid grid-cols-5 gap-4'>
    <Course />
    <Course />
    <Course />
    <Course />
    <Course />
  </div>
</section>
