---

---

<div
  x-data=`{
    menuCategoriesDevelopment: false,
    menuCategoriesBusiness: false,
    menuCategoriesFinance: false,
  }`
>
  <div
    class='flex items-center justify-center gap-8 border-t border-gray-300 text-sm shadow-lg'
  >
    <div
      @click='menuCategoriesDevelopment = !menuCategoriesDevelopment'
      @click.away='menuCategoriesDevelopment = false'
      class='relative py-4 hover:cursor-pointer hover:text-udemy'
      :class="{'menu-category-active': menuCategoriesDevelopment}"
    >
      Desarrollo
    </div>
    <div
      @click='menuCategoriesBusiness = !menuCategoriesBusiness'
      @click.away='menuCategoriesBusiness = false'
      class='relative py-4 hover:cursor-pointer hover:text-udemy'
      :class="{'menu-category-active': menuCategoriesBusiness}"
    >
      Negocios
    </div>
    <div
      @click='menuCategoriesFinance = !menuCategoriesFinance'
      @click.away='menuCategoriesFinance = false'
      class='relative py-4 hover:cursor-pointer hover:text-udemy'
      :class="{'menu-category-active': menuCategoriesFinance}"
    >
      Finanzas y contabilidad
    </div>
  </div>

  <nav
    x-show='menuCategoriesDevelopment'
    class='flex items-center justify-center gap-8 bg-primary p-3 text-sm text-white'
  >
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>Desarrollo web</div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>
      Desarrollo móvil
    </div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>
      Lenguajes de programación
    </div>
  </nav>

  <nav
    x-show='menuCategoriesBusiness'
    class='flex items-center justify-center gap-8 bg-primary p-3 text-sm text-white'
  >
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>Emprendimiento</div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>Comunicación</div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>
      Gestión empresarial
    </div>
  </nav>

  <nav
    x-show='menuCategoriesFinance'
    class='flex items-center justify-center gap-8 bg-primary p-3 text-sm text-white'
  >
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>
      Contabilidad y tesorería
    </div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>
      Criptomonedas y blockchain
    </div>
    <div class='hover:cursor-pointer hover:text-[#a7aada]'>Finanzas</div>
  </nav>
</div>
